body{
  background-color: #f6f5f5;
}

hr{
  /* background-color: white; */
  border-style: dotted none none none;
  /* border-top: dotted; border-style: none; woulda given the same result*/
  border-width: 7px;
  border-color: #ee6f57;
  height: 0px;
  width: 7%;
}

h1{
  color: #145374;
}

h3{
  color: #145374;
}
